<head>
  <link rel="stylesheet" type="text/css" href="sesh_index.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>

<body>


  <div id="logopic">
    <img src="images/Untitled-2.jpg">
  </div>
  <div class="login-create">
  <%= link_to "LOG IN", new_session_path, class: "log-in" %>
  <br>
    <%=link_to "CREATE ACCOUNT", new_user_path, class: "create" %>
  </div>

</body>
