<style>
  body{
    background-image: url("https://i.pinimg.com/564x/fb/79/16/fb79162284945c56839ab8ae1412a03b.jpg");
    color:#01104b;
    font-family: 'Indie Flower';
    padding-left: 35%;
    padding-right: 35%;

  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

#drink-index {
    background-color: rgba(242,183,174, 0.9);
    color: midnightblue;
    padding: 6px 6px;
    text-align: center;
    display: inline-block;
    margin-top: 8%;
    border-radius: 20px;
  }

#link {
  color: #884d4c;
}

</style>

  <heading>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </heading>


<div id="drink-index">
<h2>Welcome to Cosmic Cocktails !!</h2>

<div id="link">
<% @drinks.each do |drink| %>
  <i class="fas fa-beer"></i><%= link_to " #{drink.drink_name}", drink, id: "link" %><br>
<% end %>
</div>
<%= link_to "Home", home_path %>
</div>
