<h2>What this drink says about you...</h2>

<h3> hmm so you're drinking a... <%= @drink.drink_name %></h3>
   <%= image_tag("#{@drink.img_url}") %>
<h3> Surly you're not surprised that you are <%= @drink.category %>... what's up with that? </h3>
