<style>
  body {
    background-image: url("https://i.pinimg.com/564x/a4/f1/9b/a4f19b17ad5441fe638a071f70b160f7.jpg");
    color:#01104b;
    font-family: 'Indie Flower';
    font-size: 25px;
  }


  .box {
    background-color: rgba(242,183,174, 0.9);
    color: black;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 2%;
    text-align: left;
    border-radius: 20px;
  }

  h1 {
    text-align: center;
  }

  .links {
    font-size: 20px;
  }

</style>

<heading>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</heading>

<center>
<body>
  <div class="box">
  <h1>Welcome to your Zodiac Page</h1>

    <% @zodiacs.each do |zodiac| %>
      <ul class="fa-ul">
        <li><i class="fa fa-eye"> </i><%= link_to " #{zodiac.zodiac_name}", zodiac, class: "links" %></li>
      </ul>
    <% end %>
  </div>
</body>
</center>
