 <!-- <img src=<%# @zodiac.img_url%> -->
 <%# image_tag("#{@zodiac.img_url}") %>

<h3> Your Zodiac Sign Means You are: <%= @zodiac.description %> </h3>

<% @zodiac.drinks.each do |drink| %>
<h3> Your zodiac sign is telling you, you need a <%= link_to drink.drink_name, drink %></h3>
<h3>beacuase you're <%= drink.category %> AF!!</h3>
  <% end %>
